.card {
  flex: 1;
  color: #fff;
  border-radius: 12px;
  padding: 0.8rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
  margin: 0;
  font-size: 1rem;
}

.count {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}
